<div>
    <h1>Picture Updated</h1>
    <p>Your picture has been updated.</p>
    <p>New name: {{name}}</p>
    <p>New description: {{description}}</p>
    <a href="/pictures">Back to Pictures</a>
</div>